<% if links %>
  <table>
    <tr>
      <th>Shorten URL</th>
      <th>Original URL</th>
      <th>Clicks</th>
    </tr>
    <% links.each do |link| %>
      <tr>
        <td><%= link_to link.shortened_url, link.shortened_url, target: '_blank' %></td>
        <td><%= link.original_url %></td>
        <td><%= link.count %></td>
      </tr>
    <% end %>
  </table>
<% end %>